/* .contenedor{
  position: relative;
  background-color: black;
  margin-left: -321;
  left: 50%;
} */
/* body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #B78B5C;
  font-family: sans-serif;
} */
/* body{
  /* min-height: 1080px; */
/*}*/



@media screen and (min-width: 360px) {
  .Movil-rectangulo-superior-flotante{
    /* rectangulo-superior-flotante */
  
    position: absolute;
    width: auto;
    height: 94px;
    right: 15px;
    left: 15px;
    top: 45px;
    
    background:rgba(10, 233, 103, 0.726);
    border-radius: 0px 75px 0px 0px;
  }

  .Movil-rectangulo-superior-flotante{
    /* rectangulo-superior-flotante */
  
    position: absolute;
    width: auto;
    height: 94px;
    right: 15px;
    left: 15px;
    top: 45px;
    background: #5CB760;
    border-radius: 0px 75px 0px 0px;
  }
  .Movil-texto-bienvenida{
    /* texto-bienvenida */
  
    position: absolute;
    width: 200px;
    height: 82px;
    margin-left: -100px;
    left: 50%;
    margin-top: -10px;
    top: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .Movil-img-logo{
    /* img-logo */
    
    position: absolute;
    width: 87px;
    height: 34px;
    left: 26px;
    top: 55px;   
    background: url("../img/logo.png");
    border-radius: 0px 15px;
  }

  /* rectangulo-inferior */

.Movil-rectangulo-inferior{

  position: absolute;
  width:100%;
  height: 197px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #B78B5C;

}

/* rectangulo-superior */

.Movil-rectangulo-superior{

  position: absolute;
  width: 100%;
  height: 197px;
  left: 1px;
  top: 0px;
  
  background: #B78B5C;
}
/* @media only screen and (max-width: 390px){
  .img-fondo{
    width: 100px;
    background: url("../img/img-fondo.png");

  }
} */

.Movil-img-fondo{
  position: absolute;
  width: auto;
  height: auto;
  left: 0px;
  right: 0px;
  top: 31px;
  bottom: 21px;
  background: url("../img/img-fondo.png")no-repeat center top;
  border-radius: 0px 70px 0px 75px;
  background-size: cover;
}

.Movil-rectangulo-info-inferior{

  /* rectangulo-info-inferior */
  
  
  position: absolute;
  width: auto;
  height: 110px;
  left: 15px;
  right: 15px;
  bottom: 31px;
  background: rgba(92, 183, 96, 0.65);
  border-radius: 0px 75px;
}


.Movil-texto-rectangulo-inferior{
  /* texto-rectangulo-inferior */

  position: absolute;
  width: 90%;
  height: 51px;

  left: 15px;

  bottom: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  
  color: #FFFFFF;
}




.Movil-fondo-parrafo-superior{
  /* fondo-parrafo-superior */

  position: absolute;
  justify-content: center;
  width: 342px;
  height: 200.7px;
  margin-left: -171px;
  left: 50%;
  top: 222px;

  background: linear-gradient(180deg, rgba(92, 183, 96, 0.75) 0%, rgba(203, 29, 196, 0.75) 100%);
}

.Movil-parrafoSuperior{
  /* parrafoSuperior */

  position: absolute;
  width: 318px;
  height: 179px;
  margin-left: -159px;
  left: 50%;
  top: 25px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  
  color: #FFFFFF;
}

/*.Movil-img-logo{
   img-logo 
  
  position: absolute;
  width: 175px;
  height: 68.99px;
  left: 26px;
  top: 55px;


  background: url("../img/logo.png");
  border-radius: 0px 15px;
}*/

.Movil-contacto{
  /* contacto */

  position: absolute;
  width: 338px;
  height: 32px;
  margin-left: -169px;
  left: 50%;
  top: 602px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;

  color: #FFFFFF;
}




.Movil-rectangulo-central-flotante{
  /* rectangulo-central-flotante */

  position: absolute;
  width: 342px;
  height: 90px;
  left: 8px;
  top: 119px;
  
  background: #5CB760;
}



/*.Movil-texto-bienvenida{
   texto-bienvenida 

  position: absolute;
  width: 342px;
  height: 82px;
  margin-left: -171px;
  left: 50%;
  margin-top: -10px;
  top: 10px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}
*/

.Movil-menu{
  /* menu */

  position: absolute;
  width: 64px;
  height: 40px;
  left: 251px;
  top: 52px;
}


.Movil-texto-login{
  /* texto-login */
  position: absolute;
  width: 126px;
  height: 20px;
  margin-right: 0px;
  right: 20px;
  top: 80px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #FFFFFF;
  
  
}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .Movil-rectangulo-superior-flotante{
    /* rectangulo-superior-flotante */
  
    position: absolute;
    width: auto;
    height: 94px;
    right: 15px;
    left: 15px;
    top: 45px;
    background: violet;
    border-radius: 0px 75px 0px 0px;
  }
  .Movil-texto-bienvenida{
    /* texto-bienvenida */
  
    position: absolute;
    width: 200px;
    height: 82px;
    margin-left: -100px;
    left: 50%;
    margin-top: -10px;
    top: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .Movil-img-logo{
    /* img-logo */
    
    position: absolute;
    width: 87px;
    height: 34px;
    left: 26px;
    top: 55px;   
    background: url("../img/logo.png");
    border-radius: 0px 15px;
  }


  /* rectangulo-inferior */

.Movil-rectangulo-inferior{

  position: absolute;
  width:100%;
  height: 197px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #B78B5C;

}

/* rectangulo-superior */

.Movil-rectangulo-superior{

  position: absolute;
  width: 100%;
  height: 197px;
  left: 1px;
  top: 0px;
  
  background: #B78B5C;
}
/* @media only screen and (max-width: 390px){
  .img-fondo{
    width: 100px;
    background: url("../img/img-fondo.png");

  }
} */

.Movil-img-fondo{
  position: absolute;
  width: auto;
  height: auto;
  left: 0px;
  right: 0px;
  top: 31px;
  bottom: 21px;
  background: url("../img/img-fondo.png")no-repeat center top;
  border-radius: 0px 70px 0px 75px;
  background-size: cover;
}

.Movil-rectangulo-info-inferior{

  /* rectangulo-info-inferior */
  
  
  position: absolute;
  width: auto;
  height: 110px;
  left: 15px;
  right: 15px;
  bottom: 31px;
  background: rgba(92, 183, 96, 0.65);
  border-radius: 0px 75px;
}


.Movil-texto-rectangulo-inferior{
  /* texto-rectangulo-inferior */

  position: absolute;
  width: 90%;
  height: 51px;

  left: 15px;

  bottom: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  
  color: #FFFFFF;
}




.Movil-fondo-parrafo-superior{
  /* fondo-parrafo-superior */

  position: absolute;
  justify-content: center;
  width: 342px;
  height: 200.7px;
  margin-left: -171px;
  left: 50%;
  top: 222px;

  background: linear-gradient(180deg, rgba(92, 183, 96, 0.75) 0%, rgba(203, 29, 196, 0.75) 100%);
}

.Movil-parrafoSuperior{
  /* parrafoSuperior */

  position: absolute;
  width: 318px;
  height: 179px;
  margin-left: -159px;
  left: 50%;
  top: 25px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  
  color: #FFFFFF;
}

/*.Movil-img-logo{
   img-logo 
  
  position: absolute;
  width: 175px;
  height: 68.99px;
  left: 26px;
  top: 55px;


  background: url("../img/logo.png");
  border-radius: 0px 15px;
}*/

.Movil-contacto{
  /* contacto */

  position: absolute;
  width: 338px;
  height: 32px;
  margin-left: -169px;
  left: 50%;
  top: 602px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;

  color: #FFFFFF;
}




.Movil-rectangulo-central-flotante{
  /* rectangulo-central-flotante */

  position: absolute;
  width: 342px;
  height: 90px;
  left: 8px;
  top: 119px;
  
  background: #5CB760;
}



/*.Movil-texto-bienvenida{
   texto-bienvenida 

  position: absolute;
  width: 342px;
  height: 82px;
  margin-left: -171px;
  left: 50%;
  margin-top: -10px;
  top: 10px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}
*/

.Movil-menu{
  /* menu */

  position: absolute;
  width: 64px;
  height: 40px;
  left: 251px;
  top: 52px;
}


.Movil-texto-login{
  /* texto-login */
  position: absolute;
  width: 126px;
  height: 20px;
  margin-right: 0px;
  right: 20px;
  top: 80px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #FFFFFF;
  
  
}





}



/* .Movil-rectangulo-superior-flotante{
   rectangulo-superior-flotante 

  position: absolute;
  width: auto;
  height: 94px;
  right: 15px;
  left: 15px;
  top: 45px;
  
  background: #5CB760;
  border-radius: 0px 75px 0px 0px;
} */






