
.botonMenu{
    position: absolute;
    width: 100px;
    height: 39px;
    left: 20px;
    top: 238px;
    background: url("../img/txtMenu.png")no-repeat
    #519856 center;
    /* border: 2px solid #CB1DC4; */
    box-sizing: border-box;
    /* border-radius: 0px 20px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}


.botonNuevo{
    position: absolute;
    width: 15%;
    height: 40px;
    left: 255px;
    top: 240px;
    background: #519856;
    /* border: 2px solid #CB1DC4; */
    box-sizing: border-box;
    /* border-radius: 0px 20px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}


.botonModificar{
    position: absolute;
    width: 15%;
    height: 40px;
    left: 489px;
    top: 238px;
    background: #519856;
    /* border: 2px solid #CB1DC4; */
    box-sizing: border-box;
    /* border-radius: 0px 20px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.botonEliminar{
    position: absolute;
    width: 15%;
    height: 39px;
    left: 723px;
    top: 238px;
    background: #519856;
    /* border: 2px solid #CB1DC4; */
    box-sizing: border-box;
    /* border-radius: 0px 20px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.botonSalir{
    position: absolute;
    width: 20%;
    height: 39px;
    left: 956px;
    top: 238px;
    background: #519856;
    /* border: 2px solid #CB1DC4; */
    box-sizing: border-box;
    /* border-radius: 0px 20px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}


/* \\\\\\ ----> LA VERSION MOVIL ESTA DISEÑADA PARA UNA RESOLUCION DE 320 X 579  PX   <----////////     */

@media all and (max-device-width: 480px){

    .botonMenu{
        position: absolute;
        width: 89px; /*75px*/
        height: 50px;
        left: 220px;
        top: 60px;
        background: url("../img/botonMenu-Movile.png"), no-repeat;
        border: none;
        color: #FFFFFF;
        background-size: cover;
    }
    
    
    .botonNuevo{
        position: absolute;
        width: 33%; 
        height: 50px;
        left: 215px;
        top: 110px;
        background: #519856;
        /* border: 2px solid #CB1DC4; */
        box-sizing: border-box;
        /* border-radius: 0px 20px; */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    
    
    .botonModificar{
        position: absolute;
        width: 33%; 
        height: 50px;
        left: 215px;
        top: 160px;
        background: #519856;
        /* border: 2px solid #CB1DC4; */
        box-sizing: border-box;
        /* border-radius: 0px 28px; */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .botonEliminar{ 
        position: absolute;
        width: 32%; 
        height: 50px;
        left: 217px;
        top: 210px;
        background: #519856;
        /* border: 2px solid #CB1DC4; */
        box-sizing: border-box;
        /* border-radius: 0px 20px; */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .botonSalir{
        position: absolute;
        width: 32%;
        height: 50px;
        left: 217px;
        top: 260px;
        /* margin-top: 1%; */
        background: #519856;
        /* border: 2px solid #CB1DC4; */
        box-sizing: border-box;
        /* border-radius: 0px 20px; */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }

}